<div class="navbar-header fixed-top">
        <div class="navlink">
            <ul>
               <li><a href="home"><i class="fas fa-home"></i></a></li>
               <li class="sugegsted-friend-link"><a href="suggested"><i class="fas fa-users"></i></a></li>
               <li><a href="friend-request"><i class="fas fa-user-friends"></i></a></li><div class="friends-notify {{requestNotificationStatus}}"></div>
               <li><a href="notification"><i class="fas fa-bell"></i></a></li><div class="notify {{acceptNotificationStatus}}"></div>
               <li class=''><a href='logout'><i class="fas fa-sign-out-alt"></i></a></li>
               <li><a href="profile"><i class="fas fa-user-circle"></i></a></li>  
            </ul>
        </div>
</div>