.resultbtn{
  display: none;
}

body{
  margin:0;
  padding:0;
  
}
a{
  display: inline-block;
}
body a:hover{
  text-decoration: none;
}
   /* width */
   ::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px snow; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#7efff5; 
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  /* Handle on hover */
  

/* Navbar css   */

.navbar-header{
  width:100%;
  height:60px;
  background:#7efff5;
  position:fixed;
  z-index:1;
  box-shadow:0px 1px 2px rgba(0,0,0,0.1);
}

.link li{
  display:inline-block;
}
.link{
  float:right;
  margin-right:30px;
  margin-top:15px;
}
.link a{
  padding:8px;
  color:#833471;
  font-size:17px;
  text-decoration:none;
  transition:all 0.3s ease;
  font-weight:490;
}
.v{
  font-style:italic;
  font-weight:600;
  color:#ff9f1a;
  font-size:24px;
}
.chat{
  color:#833471;
  font-weight:900;
  font-size:20px;
}
.link a:hover{
  opacity: 0.9;
  border-radius: 2px;
  font-weight:494;
  color: #1289A7;
}
.vchat{
  float:left;
  margin-top:10px;
  margin-left:40px;

}
a:hover{
  text-decoration:none;
}
.logout-btn a{
  background:#ffffff;
  color:#833471;
  border: 1px solid #833471;
  border-radius:3px;
  padding: 6px 15px 6px 15px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  font-size:15px;
}

/* Suggested friend Css */

.friend-suggested-list{
  position:fixed;
  width:310px; 
  overflow:auto;
  overflow-x:hidden;
  height:460px;
}
.friend-suggested-card{
  padding:5px;
  box-shadow:0px 1px 1px rgba(0,0,0,0.1); 
  margin-bottom:1px;
 }

 .friends-suggested-name{
  color:rgba(4, 73, 103, 0.83);
  font-size:15px;
  font-weight:500;
  margin:20px 0px 0px -12px;
  text-decoration:none;
  transition: all 0.1s ease;
}
.friends-suggested-name:hover{
  color:rgba(4, 73, 103, 0.83);
  opacity:0.7;
}

/* Chat-box CSS  */

.chat-box{
  background:#ffffff;
  z-index:0;
  width:640px;
  height:500px;
  position:fixed;
  overflow:auto;
  margin-bottom:10px;
}
.chat-person-name{
  width:640px;
  height:72px;
  background:#F7F7F7;
  box-shadow:0px 0px 1px rgba(0,0,0,0.1);
  padding:10px;
  position:fixed;
  margin-bottom:40px;
  z-index:1;
}
.chat-friends-name{
      color:#1289A7;
      font-size:18px;
      font-weight:610;
      margin:0px 0px 0px -85px;
  }

.status{
    color: #8e44ad;
    font-size: 11px;
    font-weight:500;
}
.msg{
  padding:20px;
  margin-top:70px;
  margin-bottom:15px;
  height:auto;
}
.chat-btn{
  width:640px;
  height:70px;
  background:#ffffff;
  box-shadow:0px 1px 3px rgba(0,0,0,0.2);
  position:fixed;
  top:580px;
  padding:20px;
  z-index:1;
}
.sender-msg{
  background:#1289A7;
  padding:0px;
  width:auto;
  display:block;
  border-radius:30px;
  z-index:2;
}
.reciever-msg{
  background:#eee;
  padding:0px;
  width: auto;
  display:block;
  border-radius:30px;
  z-index:2;
}
.senderMessages{
  font-size: 12px;
  color: #ffffff;
  font-weight:500;
}
.recieverMessages{
  font-size: 12px;
  color:#596275;
  font-weight:500;
}
.time{
  margin-top: -15px;
  font-size:9px;
  font-weight: 300;
  color:#C0C0C0;
}
.active-pink-2 input.form-control[type=text]:focus:not([readonly]){
  box-shadow: 0 1px 0 0 #f48fb1;
  }
 
/* Friends list CSS */


.friend-suggested-heading{
  position:fixed;
  width:310px;
  
}
.friends-heading{
  font-size:20px;
  font-weight:600;
}

.friends-list{
  position:fixed;
  width:310px;
  overflow:auto;
  overflow-x:hidden;
  height:460px;
}


/* friends-request-css and profile csss*/


.profile-img{
  height:200px;
  width:200px;
  border-radius:50%;
}
.no-img{
  height:150px;
  width:150px;
  background: #833471;
  border-radius:50%;
}

.container{
  margin-top:80px;
}
.profile{
  position:fixed;
  height:100vh;
  width:600px;
}
.profile-name{
  font-size:18px;
  font-weight:700;
  color:rgba(9, 37, 58, 1);
  margin: 0px 0 0 20px;
}

.profile-desc li{
  margin-top:10px;
  list-style:none;
  font-size:16px;
  font-weight:600;
}

.friends-name{
color:rgba(4, 73, 103, 0.83);
font-size:16px;
font-weight:500;
margin:20px 0px 0px -60px;
transition: all 0.3s ease;
text-decoration:none;
}
.friends-name:hover{
  color:rgba(4, 73, 103, 0.83);
  opacity:0.7;
}
.friend-search{
font-size:30px;
color:rgba(4, 73, 103, 0.83);
cursor:pointer;
}

.friends-profile-pic{
  display: inline-block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  transition:all 0.5s ease;
} 

.chat-profile-pic{
  display: inline-block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  transition:all 0.5s ease;
} 
.no-profile-pic{
  display: inline-block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background:#833471;
  opacity: 0.7;
  transition:all 0.5s ease;
} 
.no-profile-pic:hover{
  background: #2f3640;
  opacity: 0.5;
}
.profile-pic{
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition:all 0.5s ease;
} 

.friends-profile-pic:hover{
  opacity: 0.7;
}

.Online{
font-size:13px;
color:#8e44ad;
font-weight:500;
margin-left: 0px;
}
.Offline{
font-size:11px;
color:#536363;
font-weight:500;

}
.container-fluid{
margin-top:80px;
}
.friend-request-heading{
width:300px;
padding:10px;
position:fixed;
font-size:22px;
font-weight:600;
}


/* profile page css */


.profile-img{
  height:170px;
  width:170px;
  border-radius:50%;
}
.container{
  margin-top:80px; 
}
.profile{
  position:fixed;
  height:100vh;
  width:600px;
}
.profile-name{
  font-size:18px;
  font-weight:700;
  color:rgba(9, 37, 58, 1);
  margin:10px 0 5px 20px;
}
.profile-desc li{
  margin-top:10px;
  list-style:none;
  font-size:16px;
  font-weight:600;
}


.friend-search{
font-size:30px;
color:rgba(4, 73, 103, 0.83);
cursor:pointer;
}

.friends-list-card{
padding:10px;
box-shadow:0px 1px 1px rgba(0,0,0,0.1); 
margin-bottom:10px;
}


#modal{
 position: fixed;
 background: rgba(3,2,3, 0.8);
 width: 100%;
 height: 100vh;
 top:0px;
 left: 0px;
 display: none;
 z-index: 2;
}
#modal-box{
width:100%;
 background: snow;
 padding: 30px;
}
#closebtn{
 position: relative;
 border:none;
 background: none;
 color:#833471;
 cursor:pointer;
 font-size:17px;
 font-weight: 600;
 top:90%;
 left:90%;
 transition: all 0.4s ease;
}
#closebtn:hover{
 color: blue;
 opacity:0.7;
}
input[type=file]{
border:none;
border-radius:0px;
}

 .talk-btn{
  background:#833471;
  border: 1px solid #833471;
  color:#ffffff;
  padding: 5px 18px 5px 18px;
  border-radius: 3px;
  font-weight: 460;
  font-size: 14px;
  box-shadow : 0px 1px 1px rgba(0,0,0,0.1);
  transition: all 0.5s ease;
}
.talk-btn:hover{
  background: #ffffff;
  border: 1px solid #833471;
  color: #833471;
}
.addFriend{
  background:#833471;
  border: 1px solid #833471;
  color: #ffffff;
  padding: 5px 18px 5px 18px;
  border-radius: 3px;
  font-weight: 460;
  font-size: 14px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  transition: all 0.4s ease;
}
.addFriend:hover{
  background: #1289A7;
  border: 1px solid #1289A7;
}
.requested{
  background:#ffffff;
  border: 1px solid #833471;
  color:#833471;
  padding: 5px 18px 5px 18px;
  border-radius: 3px;
  font-weight: 460;
  font-size: 14px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
.requested:hover{
  cursor: not-allowed;
}
.edit-profile-btn{
  background:#833471;
  border: none;
  color: #ffffff;
  padding: 8px 20px 8px 20px;
  border-radius: 3px;
  font-weight: 500;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  transition: all 0.4s ease;
}
.edit-profile-btn:hover{
  background: #1289A7;
}
#sendbtn{
  background:#833471;
  border: 0px solid #833471;
  color:#ffffff;
  padding: 6px 20px 6px 20px;
  border-radius: 3px;
  font-weight: 500;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  transition: all 0.5s ease;
  cursor: pointer;
}
#sendbtn:hover{
  background: #1289A7;
}
.resultbtn{
  background:#ffffff;
  border: 1px solid #833471;
  color:#833471;
  padding: 5px 18px 5px 18px;
  border-radius: 3px;
  font-weight: 460;
  font-size: 14px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  cursor: not-allowed;
}
#profile-upload-btn{
  background:#833471;
  border: 0px solid #833471;
  color:#ffffff;
  padding: 6px 20px 6px 20px;
  border-radius: 3px;
  font-weight: 500;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  transition: all 0.5s ease;
  cursor: pointer;
}
#profile-upload-btn:hover{
  background: #1289A7;
}
#search-box{
  background: #F9F9F9;
  border:none;
  border-radius:5px;
  transition: all 0.5s ease;
  color:#833471;
}
#search-box::placeholder{
  color:#C0C0C0;
}
#input-msg{
  background: #F9F9F9;
  padding: 15px 100px 10px 30px;
  border-radius:5px;
  transition: all 0.5s ease;
}
#input-msg::placeholder{
  color:#C0C0C0;
}
.about-vchat{
  width: 640px;
  height: 560px;
  position: fixed;
  background: #F9F9F9;
  border: 0px solid green;
  display: grid;
  justify-content: center;
}
.vchat-img{
  margin: auto;
  width: 230px;
  height: 230px;
  background:#f1f2f6;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  border-radius: 50%;
  display: grid;
  justify-content: center;
}
.vchat-img .vchat{
  margin: auto;
  font-size: 60px;
  font-weight: 900;
}
.V{
  color: green;
}
.Chat{
  color: #833471;
}
.vchat-description{
  color: #485460;
  font-size: 18px;
  font-weight: 600;
  padding: 50px;
}
.vchat-description span{
  font-size: 22px;
  color: #833471;
  font-weight: 650;
}
.copyright{
  margin: auto;
  font-size: 11px;
  font-weight: 600;
}
.new-msg{
  padding: 6px;
  height: auto;
  display: grid;
  justify-content: center;
  border-radius: 50%;
}
.msg-count{
  font-size: 10px;
  color: #ffffff;
}
.notification{
  background:#833471;
  padding: 12px;
  border-radius: 2px;
  color:#ffffff;
  box-shadow: 0 0px 1px rgba(0,0,0,0.1);
  font-weight: 400;
  position: absolute; 
  top: 7px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 400px;
  z-index:3;
  display: none;
}
.notify{
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
}

